################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
*.user
/Taiwan-AskFaceMaskApp/Taiwan-AskFaceMaskApp/obj
/Taiwan-AskFaceMaskApp/Taiwan-AskFaceMaskApp.Android/obj
/Taiwan-AskFaceMaskApp/Taiwan-AskFaceMaskApp.iOS/obj/iPhoneSimulator
